# python and vscode files
__pycache__/
.vscode/

# macOS
.DS_Store
**/.DS_Store

# input data
data/

# training output
outputs/
output/
saved/

# models
models/
depth_model/

# test files
test.py
test.ipynb
